.impares{
    background-color:  pink;
    font-family: Verdana, "DejaVu Sans" , sans-serif; 
}

#blue{
    color: blue; 
    font-size: 36px;
}

.tercerElemento{
    font-size: 24px;
}

#cuartoElemento{
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}