#btnNegro{
    background-color: black;
    color: white;
}

#btnAmarillo{
    background-color: yellow;
    color: black;
}

.btnEstilos{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}